.dvk-box div.inside{
	padding:10px;
}

.dvk-box p,.dvk-box ul{
	margin:0;
	margin-bottom:5px;
}
.dvk-box ul{
	list-style:square;
	margin-left:20px;
}
.dvk-box li{
	margin:0;
	margin-bottom:4px;
}
li.dvk-rss-item{
	margin-left:-16px;
	padding-left:25px;
	background:url(http://static.dannyvankooten.com/images/dvk-16x16.png) no-repeat left center;
	list-style:none;
}
li.dvk-rss{
	margin-top:10px;
	margin-left:-16px;
	float:left;
	padding-left:25px;
	background:url(http://static.dannyvankooten.com/images/rss-icon.png) no-repeat left center;
	list-style:none;
}
li.dvk-email{
	margin:10px 0 0 10px;
	float:left;
	padding-left:25px;
	background:url(http://static.dannyvankooten.com/images/email-icon.png) no-repeat left center;
	list-style:none;
}
.postbox .inside{
	padding:0 10px;
}

.dvk-box b,.dvk-box strong{
	font-weight:bold;
}

span.ns_small{
	font-style:italic;
	font-size:10px;
	display:block;
	margin:2px 0;
}

#dvk-avatar{
	vertical-align:top;
	margin-right:10px;
	display:inline-block;
	height:32px;
	width:32px;
	background:url(http://static.dannyvankooten.com/images/dvk-avatar.png) no-repeat;
}

label{
	display:block;
}