#wysiwyg_widgets_overlay_bg{ height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 100; background-color: #000000; opacity: 0.75; filter:alpha(opacity=75); display:none;}
#wysiwyg_widgets_window{ background:#FFFFFF; border: 1px solid #555555; box-shadow: 0 4px 30px #000000; color: #000000; display: none; overflow:hidden;
    left: 50%; position: fixed; text-align: left; top: 5%; z-index: 101; height:90%; width: 670px; margin-left:-335px; }
#wysiwyg_widgets_title{ background-color: #222222; color: #CFCFCF; height:27px; }
#wysiwyg_widgets_title div.title{ float: left; padding: 6px 10px 0; }
#wysiwyg_widgets_title div.close{ float: right; padding: 6px 10px 0; display:block; width:15px; height:15px; text-align: right; cursor:pointer; }
#wysiwyg_widgets_content{ display:block; height:95%; overflow-y:scroll; padding:5px;}

#wysiwyg_textarea{ position:relative; border:0; width:640px; min-height:200px; }

#editorcontainer{ border-color: #DFDFDF;}
#editor-toolbar{ height:30px; }
#edButtonPreview, #edButtonHTML {  background-color: #F1F1F1; border-color: #DFDFDF; color: #999999; }
#edButtonHTML{ margin-right: 15px; }
#editor-toolbar .active { background-color: #E9E9E9; border-bottom-color: #E9E9E9; color: #333333; }

#wp-link,#quicktags{ display:none; }